@charset "utf-8";
// 公共样式
$rem:75;//定义页面尺寸
$color_pub:white;
$color_menu:#ec8380;
$color_f:black;
body {
    width:100%;
    height: 1335/$rem*1rem;
    margin: 0px;
    padding:0px;
    font-size: 0.21333333rem;
    font-family: Arial, '微软雅黑';
    background:$color_menu;
    color:white;
    overflow-y:hidden;
    overflow-x: hidden;
  }
footer{
    width: 100%;
    height: 190/$rem*1rem;
    background: url(../img/foot.png)no-repeat;
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    animation: yinyuns 2s linear 0s;
    @keyframes yinyuns{
            0%{ transform: translateX(-800/$rem*1rem);}
            60%{ transform: translateX(0px); }
            100%{ transform: translateX(0px); }
        }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            width: 15/$rem*1rem;
            height: 15/$rem*1rem;
            border-radius:50%;
            background: #a7c35f;
            margin-top:100/$rem*1rem;
            margin-left: 20/$rem*1rem;
            a{
                display: block;
                width: 15/$rem*1rem;
                height: 15/$rem*1rem;
                float: left;
            }
        }
        .active{
            width: 35/$rem*1rem;
            height: 15/$rem*1rem;
            border-radius:25%;
            a{
                display: block;
                width: 35/$rem*1rem;
                height: 15/$rem*1rem;
            }
        }
    }
}
.yinyun{
    width: 100%;
    height: 135/$rem*1rem;
    background: url(../img/yinyun.png)no-repeat;
    background-size:100% 100%;
    position: fixed;
    bottom: 40/$rem*1rem;
    animation: yinyun 2s linear 0s;
    @keyframes yinyun{
            0%{ transform: translateX(800/$rem*1rem);}
            60%{ transform: translateX(0px); }
            100%{ transform: translateX(0px); }
        }
}
.zi{
    width: 100%;
    height: 380/$rem*1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    img{
        width:444/$rem*1rem;
        height: 226/$rem*1rem;
    }
}
.tupian{
    width: 100%;
    height: 760/$rem*1rem;
    position: relative;
    .dunpai{
        position: absolute;
        left: 80/$rem*1rem;
        top:150/$rem*1rem;
        img{
            width:675/$rem*1rem;
            height: 590/$rem*1rem;
            animation: yun 1s linear 0s;
            @keyframes yun{
            0%{ transform: translateX(900/$rem*1rem);}
            100%{ transform: rotateX('360deg');}
        }
        }
    }
    // .tuoyuan{
    //     position: absolute;
    //     left: 105/$rem*1rem;
    //     top: 370/$rem*1rem;
    //     img{
    //         width:712/$rem*1rem;
    //         height: 417/$rem*1rem;
    //     }
    // }
    .tuoyuanda{
        position: absolute;
        left: 15/$rem*1rem;
        top: 300/$rem*1rem;
        img{
             width:712/$rem*1rem;
            height: 417/$rem*1rem;
            animation: fj 1s linear 0s;
            @keyframes fj{
            0%{ transform: translateX(900/$rem*1rem) translateY(-500/$rem*1rem);}
            100%{ transform: rotateX('360deg');}
        }
        }
    }
    .qiezi{
        position: absolute;
        left: 505/$rem*1rem;
        top: 460/$rem*1rem;
        z-index: 10;
        img{
            width:68/$rem*1rem;
            height:122/$rem*1rem;
        }
    }
    .fanqie{
        position: absolute;
        left: 60/$rem*1rem;
        top: 410/$rem*1rem;
        z-index: 100;
        img{
            width:86/$rem*1rem;
            height:93/$rem*1rem;
            animation: img 4s linear 0s;
        }
        @keyframes img{
            0%{}
            30%{ transform: rotate(0deg); }
            60%{ transform: translateX(0px); }
            100%{ transform: translateX(0px); }
        }
    }
    .li{
        position: absolute;
        left: 180/$rem*1rem;
        top: 370/$rem*1rem;
        z-index: 11;
        img{
            width:106/$rem*1rem;
            height:152/$rem*1rem;
            animation: img 4s linear 0s;
        }
        @keyframes img{
            0%{}
            30%{ transform: rotate(0deg); }
            60%{ transform: translateX(0px); }
            100%{ transform: translateX(0px); }
        }
    }
    .nangua{
        position: absolute;
        left: 280/$rem*1rem;
        top: 390/$rem*1rem;
        z-index: 100;
        img{
            width:121/$rem*1rem;
            height:117/$rem*1rem;
        }
    }
    .dbc{
        position: absolute;
        left: 360/$rem*1rem;
        top: 280/$rem*1rem;
        z-index: 10;
        img{
            width:93/$rem*1rem;
            height:157/$rem*1rem;
        }
    }
    .ningmeng{
        position: absolute;
        left: 400/$rem*1rem;
        top: 390/$rem*1rem;
        z-index: 15;
        img{
            width:117/$rem*1rem;
            height:114/$rem*1rem;
            animation: img 4s linear 0s;
        }
        @keyframes img{
            0%{}
            30%{ transform: rotate(0deg); }
            60%{ transform: translateX(0px); }
            100%{ transform: translateX(0px); }
        }
    }
    .hlb{
        position: absolute;
        left: 480/$rem*1rem;
        top: 250/$rem*1rem;
        z-index: 10;
        img{
            width:92/$rem*1rem;
            height:178/$rem*1rem;
        }
    }
    .apple{
        position: absolute;
        left: 600/$rem*1rem;
        top: 540/$rem*1rem;
        z-index: 12;
        img{
            width:77/$rem*1rem;
            height:95/$rem*1rem;
            animation: img 4s linear 0s;
        }
        @keyframes img{
            0%{}
            30%{ transform: rotate(0deg); }
            60%{ transform: translateX(0px); }
            100%{ transform: translateX(0px); }
        }
    }
}